<section>
  <div id="content">
      <div id="content_wrap">
          <div id="bg">
              <!-- <img src="assets/lilly/images/STAGE.jpg" alt=""> -->
          </div>
          <div id="player_sec">
             
          </div>
      </div>
  </div>
</section>
<span id="back">
  <a class="nav-link sign" routerLink="/lobby" title="Logout" role="button">
      BACK</a>
</span>
<div class="rightMenu">


<ul class="list-unstyled">
      <li>
          <a data-toggle="modal" data-target=".ballroomQuestionModal"><img src="assets/chat-h.png" alt="">
              <div>Ask Question</div>
          </a>
      </li>
      
  </ul>
<!-- <ul class="list-unstyled">
       <div id="clap">
          <audio id="myAudioClap">
              <source src="assets/img/applause.wav" type="audio/wav">
              <source src="assets/img/applause.mp3" type="audio/mpeg">
              Your browser does not support the audio element.
          </audio>
          <a (click)="playAudioClap()" type="button">
              <img style="width: 44px;" src="assets/img/hand.png" alt="">
          </a>
      </div>
  </ul> -->
<!-- <ul class="list-unstyled">
      <li>
          <a data-toggle="modal" data-target=".quizModal"><img src="assets/icons/first-floor-h.png" alt="">
              <div>Quiz</div>
          </a>
      </li>
  </ul> -->
<!-- <ul class="list-unstyled">
      <li>
          <a (click)="openGroupChat()"><img src="assets/icons/chat-h.png" alt="">
              <div>Group Chat</div>
          </a>
      </li>
  </ul> -->
<!-- <ul class="list-unstyled">
            <li>
                <a data-toggle="modal" data-target=".pollModal"><img src="assets/icons/navigation-h.png" alt="">
                    <div>Poll</div>
                </a>
            </li>
        </ul> -->
<!-- <ul class="list-unstyled">
            <li> <a data-toggle="modal" data-target=".feebackModal"><img src="assets/icons/contact-h.png" alt="">
                    <div>Feedback</div>
                </a>
            </li>
        </ul> -->

</div>

<!-- groupchatOne Modal -->
<!-- <div class="modal fade groupchatOne" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="container-fluid" id="popup">
              <div class="row">
                  <div class="col-md-12 col-xl-12">
                      <div class="chat_section">
                          <div class="popup_header">
                              <h6>Group Chat</h6>
                              <a class="close" (click)="closePopup()"></a>
                          </div>
                          <div class="container-fluid" style="  background: #f2f4f7;">
                              <h6 style="text-align: center;"></h6>
                              <div class="row pt-2">
                                  <div class="col-md-12 col-xl-12 pl-0">
                                      <div class="chat_box">
                                          <ul class="chat_message" #scroller [scrollTop]="scroller.scrollHeight">
                                              <li class="user-profile-row" *ngFor="let user of messageList"
                                                  id="user_row_500">
                                                  <div class="user-profile-data">
                                                      <div class="user-profile-image"> <img
                                                              class="img-responsive user-profile-img"
                                                              src="assets/img/user1.jpg" width="32">
                                                      </div>
                                                      <div class="user-profile-info">
                                                          <p class="user-profile-name"><a
                                                                  href="javascript:void(0);">{{user.user_name}}</a>
                                                          </p>
                                                          <p class="user-profile-company">{{user.chat_data}}</p>
                                                      </div>
                                                  </div>

                                              </li>
                                          </ul>
                                      </div>
                                      <div class="message_input">
                                          <textarea name="message" autocomplete="off"
                                              placeholder="Chat will be shown after moderation"
                                              [formControl]="textMessage"
                                              (keyup.enter)="postMessage(textMessage.value)" maxlength="200"
                                              type="text" id="query" value=""></textarea>
                                      </div>
                                      <button type="submit" class="btn borderBtn SubmitBut"
                                          style="background-color: #292f35; color: white; margin-left: 12px; margin-bottom: 10px;"
                                          (click)="postMessage(textMessage.value)">Send</button>
                                  </div>
                                 
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div> -->