<!-- <div [ngStyle]="{'display':(videoEnd || receptionEnd) ? 'block': 'none'}" class="img-fluid">
    <div class="bg"></div>
    <div class="reception">
        <div class="pulsating-circle" (click)="gotoReception()"></div>
    </div>
    <div class="auditorium-left">
        <div class="pulsating-circle" [routerLink]="['/auditorium/left']"></div>
    </div>
    <div class="auditorium-right">
        <div class="pulsating-circle" [routerLink]="['/auditorium/right']"></div>
    </div>
    <div class="exhibition-hall">
        <div class="pulsating-circle" [routerLink]="['/exhibitionHall']"></div>
    </div>
    <div class="registraion-desk">
        <div class="pulsating-circle" [routerLink]="['/registrationDesk']"></div>
    </div>
    <div class="networking-lounge">
        <div class="pulsating-circle" [routerLink]="['/networkingLounge']"></div>
    </div>
</div>
<div [ngStyle]="{'display':videoEnd ? 'none': 'block'}" class="videoContainer">
    <video id="myVideo" autoplay="true" class="videoBg" (ended)="playevent()">
        <source src="../../../assets/video/day_outer_bilding.mp4" type="video/mp4">
    </video>
</div>
<div [ngStyle]="{'display':receptionEnd ? 'block': 'none'}" class="videoContainer">
    <video id="recepVideo" class="videoBg" (ended)="receptionEndVideo()">
        <source src="../../../assets/video/To_Recp_01.mp4" type="video/mp4">
    </video>
</div> -->
<div [ngStyle]="{'display':showVideo ? 'none': 'block'}" class="img-fluid">
    <div class="bg"></div>
    <div class="reception">
        <div class="pulsating-circle" (click)="playReception()"></div>
    </div>
    <div class="auditorium-left">
        <div class="pulsating-circle"  (click)="playAuditoriumLeft()"></div>
    </div>
    <div class="auditorium-right">
        <div class="pulsating-circle"  (click)="playAuditoriumRight()"></div>
    </div>
    <div class="exhibition-hall">
        <div class="pulsating-circle"  (click)="playExhibitionHall()"></div>
    </div>
    <div class="registraion-desk">
        <div class="pulsating-circle"  (click)="playRegistrationDesk()"></div>
    </div>
    <div class="networking-lounge">
        <div class="pulsating-circle"  (click)="playNetworkingLounge()"></div>
    </div>

    <div class="agenda">
        <div class="pulsating-circle" data-toggle="modal" data-target=".agendaModal">

        </div>
    </div>
    <div class="heighlights">
        <div class="pulsating-circle"  data-toggle="modal" data-target=".heightlightModal">

        </div>
    </div>
</div>
<!-- <div [ngStyle]="{'display':receptionEnd ? 'block': 'none'}" class="videoContainer">
    <video id="recepVideo" class="videoBg" (ended)="receptionEndVideo()">
        <source src="../../../assets/video/To_Recp_01.mp4" type="video/mp4">
    </video>
</div> -->
<div [ngStyle]="{'display':auditoriumLeft ? 'block': 'none'}" class="videoContainer">
    <video id="audLeftvideo" preload="auto" class="videoBg" (ended)="gotoAuditoriumLeftOnVideoEnd()">
        <source src="../../../assets/video/to_left_Auditorium.mp4" type="video/mp4">
    </video>
</div>
<div [ngStyle]="{'display':auditoriumRight ? 'block': 'none'}" class="videoContainer">
    <video id="audRightvideo" preload="auto" class="videoBg" (ended)="gotoAuditoriumRightOnVideoEnd()">
        <source src="../../../assets/video/to_right_Auditorium.mp4" type="video/mp4">
    </video>
</div>
<div [ngStyle]="{'display':exhibitionHall ? 'block': 'none'}" class="videoContainer">
    <video id="exhibitvideo" preload="auto" class="videoBg" (ended)="gotoExhibitionHallOnVideoEnd()">
        <source src="../../../assets/video/To_Exhibition.mp4" type="video/mp4">
    </video>
</div>
<div [ngStyle]="{'display':registrationDesk ? 'block': 'none'}" class="videoContainer">
    <video id="regDeskvideo" preload="auto" class="videoBg" (ended)="gotoRegistrationDeskOnVideoEnd()">
        <source src="../../../assets/video/To_Registration.mp4" type="video/mp4">
    </video>
</div>
<div [ngStyle]="{'display':networkingLounge ? 'block': 'none'}" class="videoContainer">
    <video id="netLoungevideo" preload="auto" class="videoBg" (ended)="gotoNetworkingLoungeOnVideoEnd()">
        <source src="../../../assets/video/To_Networking_Lounge.mp4" type="video/mp4">
    </video>
</div>

<audio id="myAudio">
    <source src="../../../assets/img/Lobby/welcome.mpeg" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>
  <a (click)="playAudio()" type="button"></a>
