.signup-img {
    // position: absolute;
    width: 100%;
    height: 100vh;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: left;
       object-position: left;
}
.signup-section{
    position: absolute;
    line-height: 17px;
    height: 100%;
    // background: #f1eaea61;
    background: #312f2f8a;
    top: 0;
    bottom: 0;
    color: #ffffffb3;
}
.form-row{
    font-size: 12px;
    input {
        color: #ffffffb3;
        background: transparent;
        outline: 0;
        border-width: 0 0 1px;
        border-color: black;
        display: block;
        width: 100%;
      }
      input:focus {
        border-color: green
      }

      .submit-btn{
        outline: none;
        border: 0;
        background: #000;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        text-transform: uppercase;
        color: #fff;
        margin-top: 10px;
        height: 50px;
        border-radius: 2px;
        font-weight: 600;
        max-width: 200px;
        text-align: center;
        cursor: pointer;
      }
}
$color-black: #000;

.checkbox {
    width: 100%;
    margin: 15px auto;
    position: relative;
    display: block;
    label {
        position: relative;
        min-height: 34px;
        display: block;
        padding-left: 40px;
        margin-bottom: 0;
        font-weight: normal;
        cursor: pointer;
        span {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            margin: 4px;
            width: 22px;
            height: 22px;
            // background: #000;
            transition: transform 0.28s ease;
            border-radius: 2px;
            border: 1px solid black;
        }
        &:after {
            content: '';
            display: block;
            width: 14px;
            height: 7px;
            border-bottom: 2px solid $color-black;
            border-left: 2px solid $color-black;
            transform: rotate(-45deg) scale(0);
            transition: transform ease 0.25s;
            position: absolute;
            top: 9px;
            left: 9px;
        }
    }
    input[type="checkbox"] {
        width: auto;
        opacity: 0.00000001;
        position: absolute;
        left: 0;
        margin-left: -20px;
        &:checked ~ label{
            &:before {
                // border: 2px solid $color-black;
            }
            &:after {
                transform: rotate(-45deg) scale(1);
            }
        }
        &:focus + label::before {
            outline: 0;
        }
    }
}
.login-wrapper {
  width: 300px;
  max-width: 100%;
  padding-top: 24px;
  padding-bottom: 24px; }
  @media (max-width: 575px) {
    .login-wrapper {
      width: 100%; } }
  .login-wrapper label {
    font-size: 14px;
    font-weight: bold;
    // color: #b0adad;
    color: #495057;
  }
  .login-wrapper .form-control {
    outline: none;
    box-shadow:none !important;
    border:1px solid #0808080d !important;

    background: #0808080d;
    border: none;
    border-bottom: 1px solid #e7e7e7;
    border-radius: 0;
    padding: 9px 5px;
    min-height: 34px;
    font-size: 15px;
    font-weight: normal;
  }
    .login-wrapper .form-control::-webkit-input-placeholder {
      color: #495057;
      font-weight: 500;
    }
    .login-wrapper .form-control::-moz-placeholder {
      color: #495057;
      font-weight: 500;
    }
    .login-wrapper .form-control:-ms-input-placeholder {
      color: #495057;
      font-weight: 500;
    }
    .login-wrapper .form-control::-ms-input-placeholder {
      color: #495057;
      font-weight: 500;
    }
    .login-wrapper .form-control::placeholder {
      color: #495057;
      font-weight: 500;
    }
  .login-wrapper .login-btn {
    padding: 12px 12px;
    background-color: #da251c;
    border-radius: 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 14px;
  }
    .login-wrapper .login-btn:hover {
      border: 1px solid #da251c;
      background-color: #fff;
      color: #da251c;
    }
  .login-wrapper a.forgot-password-link {
    // color: #080808;
    color: black;
    font-weight: 500;
    font-size: 15px;
    text-decoration: underline;
    display: inline-block;
    margin-bottom: 50px;
  }
  @media (max-width: 575px) {
    .login-wrapper a.forgot-password-link {
      margin-bottom: 16px;
    }
  }
  .login-wrapper-footer-text {
    font-size: 16px;
    font-weight: 500;
    color: #000;
    margin-bottom: 0;
    a{
      // text-decoration: none;
      font-weight: 700;
      color: #7ca7eb;
    }
  }
