.bg {
    // background-image: url(../../../assets/img/MeetingRoom/MEETINGROOM.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    // background-color: #464646;

    width: 100%;
    height: 100vh;
    // position: relative;
}